<!doctype html>
<!--suppress HtmlUnknownAttribute-->
<!--suppress HtmlUnknownTag -->
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Pets</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon"
        href="../../public/img/dog.ico"
        th:href="@{/img/dog.ico}"
  />

  <link rel="stylesheet"
        href="../../public/css/normalize.min.css"
        th:href="@{/css/normalize.min.css}" />
  <link rel="stylesheet"
        href="../../public/css/main.css"
        th:href="@{/css/main.css}" />
  <link rel="stylesheet"
        href="../../public/css/list.css"
        th:href="@{/css/list.css}" />

  <script src="//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js"
          th:src="@{/webjars/modernizr/2.8.3/modernizr.min.js}"></script>
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
  <script
    src="//code.getmdl.io/1.3.0/material.min.js"
    th:src="@{/webjars/material-design-lite/1.3.0/dist/material.min.js}"
  ></script>
  <script
    src="../../public/js/list.js"
    th:src="@{/js/list.js}"
  ></script>
  <link rel="stylesheet"
        href="//code.getmdl.io/1.3.0/material.blue-pink.min.css"
        th:href="@{/webjars/material-design-lite/1.3.0/dist/material.blue-pink.min.css}"
  />
  <style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans');
  body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
  }
  </style>
</head>
<body>



<div class="main-container">
  <div class="header-container">
    <header class="wrapper clearfix">
      <h1 class="title"><img
        src="../../public/img/dog.svg"
        th:src="@{/img/dog.svg}"
        height="48"
        style="margin-bottom: 4px"
      /> Pets</h1>
    </header>
  </div>
  <div class="main wrapper clearfix">

    <article>
      <header>
        <h1>Pets</h1>
      </header>
      <section>
        <form th:action="@{/pets/new}">
          <button
            onclick=""
            id="pet-list-add"
            class="mdl-button mdl-js-button mdl-button--fab mdl-button--fab mdl-js-ripple-effect mdl-button--colored fab-rcorner">
            <i class="material-icons">add</i>
          </button>
        </form>
        <form th:action="@{/pets/delete}">
          <input
            type="hidden"
            name="references"
            value="">
          <button
            id="pet-list-delete"
            disabled
            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab fab-rcorner-mini">
            <i class="material-icons">delete</i>
          </button>
        </form>
        <form th:action="@{/pets/edit}">
          <input
            type="hidden"
            name="reference"
            value="">
          <button
            id="pet-list-edit"
            disabled
            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab fab-rcorner-mini">
            <i class="material-icons">edit</i>
          </button>
        </form>
        <h6>count: <span th:text="${petCount}">13</span></h6>
      </section>
      <section>
        <table id="pet-list"
               class="mdl-data-table mdl-js-data-table mdl-data-table--selectable
               mdl-shadow--2dp table-fullsize">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Pet name</th>
              <th>Race</th>
              <th>Owner</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="pet : ${pets}" data-reference="Qa1dF453" th:data-reference="${pet.id}">
              <td class="mdl-data-table__cell--non-numeric"
                  th:text="${pet.name}">Xaar</td>
              <td th:text="${pet.race}">cat</td>
              <td th:text="${pet.owner}">-</td>
            </tr>
            <tr th:if="${false}" data-reference="Al8Shh21">
              <td class="mdl-data-table__cell--non-numeric">Plywood</td>
              <td>50</td>
              <td>$1.25</td>
            </tr>
            <tr th:if="${false}" data-reference="09Oku766">
              <td class="mdl-data-table__cell--non-numeric">Laminate</td>
              <td>10</td>
              <td>$2.35</td>
            </tr>
          </tbody>
        </table>
      </section>
    </article>

    <aside>
      <h3>Summary</h3>
      <p>This example is showing a use of basic <code>FetchPetsUseCase</code>. It is written as a clean architecture example. Credits to Robert C. Martin "Uncle Bob".</p>
    </aside>

  </div> <!-- #main -->
</div> <!-- #main-container -->

<div class="footer-container">
  <footer class="wrapper">

  </footer>
</div>

<script type="application/javascript">
window.addEventListener('load', () => {
  new app.PetList({
    listId: 'pet-list',
    editId: 'pet-list-edit',
    deleteId: 'pet-list-delete'
  }).register();
});
</script>

</body>
</html>
